PORT=9398
DC_TOKEN="dfgdgdfgfd"
SHIELDS_IO_INSTANCE="https://img.shields.io" # set this to http://shields:8080 if you're using the provided docker-compose.yml
PROXY_URL="qwerty:uiop@totallyaproxy.bees:12345"
